<h1>Products</h1>
<a routerLink="add" class="btn btn-default">Add Product</a>
<table class="table products-table">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th class="delete-column"></th>
    </tr>
    <tr *ngFor="let product of products">
        <td><a [routerLink]="['edit', product.id]">{{product.name}}</a></td>
        <td>${{product.price}}</td>
        <td><a (click)="deleteProduct(product.id)" class="btn btn-xs btn-danger">Delete</a></td>
    </tr>
</table>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>