<div class="side-form">
    <h1>{{title}}</h1>
    <div class="form-container">
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="name">Price</label>
                <input type="text" id="price" class="form-control" required />
            </div>
            <div class="form-group">
                <a class="btn btn-default" routerLink="/products">Cancel</a>
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>